# U-Boot configs for imx8mq
# use secondary malloc pool in DRAM for BL2 (SPL), 128K SRAM is insufficient
CONFIG_SYS_SPL_MALLOC=y
CONFIG_HAS_CUSTOM_SPL_MALLOC_START=y
CONFIG_CUSTOM_SYS_SPL_MALLOC_ADDR=0x42200000
CONFIG_SYS_SPL_MALLOC_SIZE=0x100000
# proper USB configs required for uuu to function as expected
CONFIG_USB_GADGET_MANUFACTURER="ASS"
CONFIG_USB_GADGET_VENDOR_NUM=0x1fc9
CONFIG_USB_GADGET_PRODUCT_NUM=0x012b
CONFIG_USB_FUNCTION_SDP=y
# increase limit to 96M for the kernel image decompression buffer
CONFIG_SYS_BOOTM_LEN=0x6000000
# Default environment tweaks
CONFIG_ENV_SOURCE_FILE="$(basename $(UBOOT_ENV_SOURCE_FILE))"
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_DEVICE_AND_PART="0"
CONFIG_ENV_IS_IN_MMC=n
